@import "./../node_modules/bulma/css/bulma.min.css";
.cursor-pointer {
  cursor: pointer;
}

.messages-container {
  height: 60vh;
  overflow: auto;
}

.active {
  background-color: rgba(0, 0, 0, .05);
}